.tabContainer {
  background-color: white;
  padding: 24px;
  border: 1px solid var(--link-pale-grey);
}

.tabContainerEmpty {
  padding: 48px;
  background-color: white;
  border: 1px solid var(--link-pale-grey);
}

.tabContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.filters {
  display: flex;
  justify-content: space-around;
}

.chartContainer {
  margin-bottom: 24px;
}

.chartTitle {
  font: 500 19px/22px var(--font-family);
  text-align: left;
}
