.contentHeader {
  background-color: white;
  min-height: 115px;
  padding: 20px;
  text-align: left;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 30px;
  /* to not change line height when button is invisible on loading */
  height: 40px;
}

.contentContainer {
  margin-top: 20px;
}

.panelContainerActive {
  background-color: var(--content-back-color);
}

.projectsAbscenceMessage {
  font: var(--font-30-38);
  margin-bottom: 30px;
}
